{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{ seo.title }}
{% endblock %}

{% block description %}
{{ seo.description }}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

{% if user.gradation == "student" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!--                <img width="140" height="140" style=" rounded-circle"-->
<!--                     src="{% static '/accounts/free-icon-bussiness-man-3048122.png' %}" alt="">-->

                <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.username}}</font></font>
                    <h3 class="fw-normal">{{user.gradation}}</h3>
                </h2>
                <br>
                 <form class="profile-filter" method="GET" action="{% url 'profile' %}">
                                     <h4>Course sorting</h4>
                  <label for="course-sort-by">Sort by:</label>
                  <select name="courses_sort_by" id="course-sort-by">
                      <option value="course__name" {% if courses_sort_by == 'course__name' %}selected{% endif %}>Course name</option>
                      <option value="id" {% if courses_sort_by == 'id' %}selected{% endif %}>Creation date</option>
                  </select>

                  <label for="course-sort-order">Sorting direction:</label>
                  <select name="courses_sort_order" id="course-sort-order">
                    <option value="asc" {% if courses_sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if courses_sort_order == 'desc' %}selected{% endif %}>Descending</option>
                  </select>

                  <button class="btn btn-info m-4" type="submit">Сортировать</button>


                     <h4 class="mt-5">Leaf sorting</h4>
                  <label for="leafs-sort-by">Sort by:</label>
                  <select name="leafs_sort_by" id="leafs-sort-by">
                      <option value="leafs__name" {% if leafs_sort_by == 'leafs__name' %}selected{% endif %}>Leaf name</option>
                      <option value="id" {% if leafs_sort_by == 'id' %}selected{% endif %}>Creation date</option>
                  </select>

                  <label for="leafs-sort-order">Sorting direction:</label>
                  <select name="leafs_sort_order" id="leafs-sort-order">
                    <option value="asc" {% if leafs_sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if cleafs_sort_order == 'desc' %}selected{% endif %}>Descending</option>
                  </select>

                  <button class="btn btn-info mt-4" type="submit">Сортировать</button>

                </form>

            </div>
            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center col-lg-4">
                <div class="list-group w-100">
                    <h3>My Leafs</h3>

                    {% for item in leafs %}

                            <a href="{{item.leafs.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-3 py-3 " style="
                            {% if item.status == 1 %}
                            background-color:#F5DE5C
                            {% elif item.status == 2 %}
                            background-color:#01A3D2
                            {% elif item.status == 3 %}
                            background-color:#00C692
                            {% elif item.status == 4 %}
                            background-color:#00964E
                            {% else %}
                            background-color:#9298AA
                            {% endif %}
                        " aria-current="true">
                                <div class="d-flex gap-2 w-100 justify-content-center">
                                    <div>
                                        <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.leafs.name}}</font></font>
                                        </h6>
                                        <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{ item.type }}</font></font>
                                        </p>
                                    </div>
                                </div>
                            </a>

                    {% endfor %}
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center col-lg-4">
                <div class="list-group w-100">
                    <h3>My courses</h3>

                    {% for item in courses %}
                        {% if item.status == 'ST' %}

                            <a href="{{item.course.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-info " aria-current="true">
                                <div class="d-flex gap-2 w-100 justify-content-center">
                                    <div>
                                        <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.course.name}}</font></font>
                                        </h6>
                                        <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{ item.course.format }}</font></font>
                                        </p>
                                       <p class="mb-0 opacity-75 " > author: {{ item.course.author }}</p>
                                    </div>
                                </div>
                            </a>
                        {% elif item.status == 'CP' %}
                            <a href="{{item.course.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-success" aria-current="true">
                                <div class="d-flex gap-2 w-100 justify-content-center">
                                    <div>
                                        <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.course.name}}</font></font>
                                        </h6>
                                        <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{ item.course.format }}</font></font>
                                        </p>
                                        <p class="mb-0 opacity-75 " > author: {{ item.course.author }}</p>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{{item.course.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-danger" aria-current="true">
                                <div class="d-flex gap-2 w-100 justify-content-center">
                                    <div>
                                        <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.course.name}}</font></font>
                                        </h6>
                                        <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{ item.course.format }}</font></font>
                                        </p>
                                        <p class="mb-0 opacity-75 " > author: {{ item.course.author }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>



        </div>


    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
<!--                <img width="140" height="140" style=" rounded-circle"-->
<!--                     src="{% static '/accounts/free-icon-bussiness-man-3048122.png' %}" alt="">-->

                <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.username}}</font></font>
                    <h3 class="fw-normal">{{user.gradation}}</h3>
                </h2>

            </div>
            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center col-lg-4">
                <div class="list-group w-100">
                    <h3>My courses</h3>

                    {% for item in courses %}


                        <a href="/accounts/course-changes/{{item.id}}/" class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-info" aria-current="true">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                                <div>
                                    <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.name}}</font></font>
                                    </h6>
                                    <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">{{ item.type }}</font></font>
                                    </p>
                                </div>
                            </div>
                        </a>


                    {% endfor %}
                </div>
            </div>

            </div>


        </div>


    </div>
{{zzzz}}

{% endif %}

{% endblock %}