{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{ seo.title }}
{% endblock %}

{% block description %}
{{ seo.description }}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

<div class="main_section">

  <h2>реєстрація</h2>
  <main class=" ">
    <form method="post">
    {% csrf_token %}

    {% if form.errors %}
      <p class="text-danger font-weight-bold">{{form.errors}}</p>
    {% endif %}
    <div class="form_input">
      <label for="{{ form.username.id_for_label }}">логін</label>
      {{ form.username }}
    </div>
    <div class="form_input">
      <label for="{{ form.email.id_for_label }}">пошта</label>
      {{ form.email }}
    </div>
    <div class="form_input">
      <label for="{{ form.password1.id_for_label }}">пароль</label>
      {{ form.password1 }}
    </div>
    <div class="form_input">
      <label for="{{ form.password2.id_for_label }}">пароль знову</label>
      {{ form.password2 }}
    </div>
    <div class="form_input">
      <label for="{{ form.first_name.id_for_label }}">ім'я</label>
      {{ form.first_name }}
    </div>
    <div class="form_input">
      <label for="{{ form.last_name.id_for_label }}">прізвище</label>
      {{ form.last_name }}
    </div>

    <div style="margin-top:20px;">
      <button type="submit">Register</button>
    </div>
  </form>
  </main>
</div>







{% endblock %}
