{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{ seo.title }}
{% endblock %}

{% block description %}
{{ seo.description }}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container ">
    <h1>{{course.name}} ({{course.format}})</h1>
    <h4 style="text-align: start;">Сourse duration: {{course.duration_in_days}} days</h4>
    <p style="text-align: start;">{{course.description|linebreaksbr}}</p>

    <h5 style="text-align: start;">Leaves inside:</h5>
    <div class="lists">
        <ul>
            {% for item in course.leafs.all %}
            <li><a style="color: black;" href="/tree/{{item.id}}/">{{item}}</a></li>
            {% endfor %}

        </ul>
    </div>
    <h4 style="text-align: end;">Сourse author: {{course.author}} </h4>
    <h5 style="text-align: start;">Сourse price: {{course.price}} </h5>
    {% if user.gradation == 'student' %}
        {% if user_course %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" id="course-rm" type="button">Refuse</button>
        </div>
        {% else %}
        <div class="d-grid gap-2 col-6 mx-auto">
            {% if user.is_authenticated %}
            <button class="btn btn-primary" id="course-add" type="button">Sign up</button>
            {% else %}
            <a class="btn btn-primary" href="{%url 'login'%}" style="color:white">Sign in</a>
            {% endif %}
        </div>

        {% endif %}
    {% endif %}

</div>
<script>
 var user_id = "{{ user.id }}"
 var course_id = "{{course.id}}"


</script>


{% endblock %}