{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{ seo.title }}
{% endblock %}

{% block description %}
{{ seo.description }}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}
{% if user.is_authenticated %}
<script>

let NOT_INTERESTED = {{NOT_INTERESTED}}
let INTERESTED = {{INTERESTED}}
let LEARNING = {{LEARNING}}
let LEARNED = {{LEARNED}}
let VALIDATED = {{VALIDATED}}
let THEORY = {{THEORY}}
let PRACTICE = {{PRACTICE}}
let PROJECT = {{PROJECT}}
console.log(THEORY)

</script>
{% else %}
<script>
let INTERESTED = [];
let LEARNING = [];
let VALIDATED = [];
let LEARNED = [];
let NOT_INTERESTED = [];
let THEORY = []
let PRACTICE = []
let PROJECT = []
console.log(THEORY)
</script>
{% endif %}

<div class="row">
    {{root_leaf_info}}
    <div id="body" class="col-md-8"></div>
    <div class="col-md-4">
        <div class="container ">
          <h1 class="">{{leaf.name}}</h1>
          <div class="" >
           {% if user.gradation == 'student' %}
            {% if user_leaf.status == 4 %}
            <div class="" >
              <form class="m-1" id="change-swap-form">
                {% csrf_token %}
                <select class="form-select" style="width:auto;" name="{{ comment_form.status.name }}" {% if not user_can_edit %}{% endif %}>
                  {% for value, label in comment_form.status.field.choices %}
                  <option value="{{ value }}" {% if value == comment_form.status.value %}selected{% endif %} {% if value == 4 %}disabled{% endif %}>{{ label }} </option>
                  {% endfor %}
                </select>
              </form>
            </div>
            {% else %}
            <div class="" >
              <form class="m-1" id="change-swap-form">
                {% csrf_token %}
                <select class="form-select" style="width:auto;" name="{{ comment_form.status.name }}" {% if not user_can_edit %}{% endif %}>
                  {% for value, label in comment_form.status.field.choices %}
                  <option value="{{ value }}" {% if value == comment_form.status.value %}selected{% endif %} {% if  value == 4 %}disabled{% endif %}>{{ label }} </option>
                  {% endfor %}
                </select>
                <button style="margin-left:10px;" class="btn btn-primary" type="submit">Update status</button>
              </form>
            </div>
            {% endif %}
           {% endif %}
          </div>


          <h4>{{leaf.type}}</h4>
          <p style="text-align: start;">{{leaf.description|linebreaksbr}}</p>
          <h5 style="text-align: start;">  Key points:</h5>
          <div class="lists">
            <ul>
              {% for item in key_points %}
              <li>{{item.text}}</li>
              {% endfor %}

            </ul>
          </div>

          <div class="row">
              <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center col-md-12">
                <div class="list-group w-100">
                  <h2>Prerequisites</h2>
                  {% for item in parent %}
                    <a href="/tree/{{ item.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <div class="d-flex gap-2 w-100 justify-content-center">
                        <div>
                          <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.name }}</font></font></h6>
                            <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.type|slice:":100"  }}</font></font></p>
                        </div>
                      </div>
                    </a>
                  {% empty %}
                    <h2>Sorry no Prerequisites</h2>
                  {% endfor %}


                </div>
              </div>
              <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center col-md-12">
                <div class="list-group w-100">
                  <h2>Opens</h2>
                  {% for item in children %}
                    <a href="/tree/{{ item.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <div class="d-flex gap-2 w-100 justify-content-center">
                        <div>
                          <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.name }}</font></font></h6>
                            <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.type|slice:":100"  }}</font></font></p>
                        </div>
                      </div>
                    </a>
                  {% empty %}
                    <h2>Sorry no Opens</h2>
                  {% endfor %}


                </div>
              </div>
          </div>

          <div class="row">
              <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center col-md-12">
                <div class="list-group w-100">
                  <h2>Courses to study</h2>
                  {% for course in courses %}
                    <a href="{{ course.get_absolute_url }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <div class="d-flex gap-2 w-100 justify-content-center">
                        <div>
                          <h6 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ course.name }}</font></font></h6>
                            <p class="mb-0 opacity-75"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.type|slice:":100"  }}</font></font></p>
                        </div>
                      </div>
                    </a>
                  {% empty %}
                    <h2>Sorry no courses</h2>
                  {% endfor %}


                </div>
              </div>
          </div>



        </div>
    </div>
</div>


<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>


<script>
root = {{ data_for_d3|safe }}

  $('#change-swap-form').on('submit', function(event) {
    event.preventDefault();  // Отменить обычную отправку формы

    // Отправить AJAX-запрос на сервер
    $.ajax({
      url: '{% url "update_status" user_leaf.id %}',
      type: 'POST',
      data: $('#change-swap-form').serialize(),
      success: function(response) {
        // Обработать ответ, например, обновить страницу
        location.reload();
      },
      error: function() {
        alert('Ошибка отправки формы');
      }
    });
  });

</script>
<script src="{% static 'base/js/tree.js' %}"></script>


{% endblock %}